.course__order__body {
    display: flex;
    width: 100%;
    margin-top: 48px;
    h1 {
        font-size: 28px;
        font-weight: 500;
    }

    &-main {
        display: flex;
        gap: 85px;
        max-height: 500px;
        margin-top: 45px;

        .order__list {
            display: flex;
            position: fixed;
            flex-direction: column;
            width: 40%;
            gap: 15px;
            height: 85%;
            bottom: 24px;


            .order__block {
                display: flex;
                background-color: $dark;
                height: 100%;
                flex-direction: column;
                position: relative;
                padding: 15px;
                width: 100%;
                border-radius: 15px;

                ul {
                    display: flex;
                    width: 100%;
                    font-weight: 400;
                    gap: 13px;
                    font-size: 12px;
                    flex-direction: column;

                    li {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        gap: 13px;
                        color: $white;

                        svg {
                            align-self: end;
                            width: auto;
                            height: 1px;
                        }
                    }
                }
                .style__line {
                    position: absolute;
                    width: 100%;
                    right: 0;
                    top: 150px;
                }
            }
        }

        .order__checked {
            display: flex;
            flex-direction: column;
            text-align: start;

            &-package {
                display: flex;
                gap: 45px;
                flex-direction: column;
                height: 100%;
                margin-left: auto;
                width: 52%;
            }

            .attention {
                padding: 13px;
                margin-top: 13px;
                border-radius: 13px;
                background-color: #FEF6F7;

                h1{
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                }


                span {
                    color: $gray;
                }
            }

            h2 {
                font-size: 17px;
            }
        }
    }

    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 1700px;
        flex-direction: column;
    }
}

.order__selected {
    display: flex;
    margin-top: 15px;
    text-align: left;
    flex-direction: column;
    gap: 15px;

    .selected {
        display: flex;
        align-items: center;
        padding: 7px;
        gap: 9px;
        border-radius: 15px;
        border: 1px solid $gray;

        img {
            width: 45px;
        }
    }

    .package__block {
        display: flex;
        padding: 15px;
        width: 550px;
        font-size: 13px;
        border-radius: 13px;
        border: 1px solid $gray;
        flex-direction: column;

        h1 {
            font-size: 18px;
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            margin-top: 9px;
            gap: 29px;
        }
        &-column {
            display: flex;
            flex-direction: column;

            span:first-child {
                color: $gray;
            }

            &.cost_sz {
                margin-left: auto;

                span:first-child {
                    color: $dark;
                    font-size: 16px;
                }

                span:last-child {
                    color: $gray;
                }
            }
        }
    }
}


.temp__selected {
    display: flex;
    border: 1px solid $gray;
    padding: 15px;
    border-radius: 8px;
    gap: 11px;
    width: 550px;
    margin-top: 15px;
    img {
        width: 30px !important;
        height: 30px !important;
    }

.temp__block {
    display: flex;
    gap: 9px;
    flex-direction: column;

    h1 {
        font-size: 19px !important;
    }

    .temp__cost {
        font-size: 19px;
        margin-top: 9px;
        font-weight: 600;
        margin-left: auto;
    }
}
}

.option__selected {
    display: flex;
    height: 150px;
    flex-direction: column;
    border: 1px solid $gray;
    padding: 15px;
    border-radius: 8px;
    gap: 11px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;

    h1 {
        font-size: 16px;
    }
}

.option__row {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    .option__cost {
        margin-left: auto;
        margin-right: 20px;
        margin-bottom: 15px;
        font-size: 19px;
        font-weight: 500;
    }
}

.opinion__footer {
    margin-bottom: 15px;
    margin-top: 15px;
    h1 {
        font-size: 21px;
    }

    input {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 55px;
        border: 1px solid $gray;
        border-radius: 20px;
        width: 100%;
        padding: 9px;
    }
    
}