{% load static %}
<div class="comm__body">
    <div class="container">
        <div class="comm__space">
            <div class="comm__left">
                <h1>Комьюнити Колледж</h1>
                <p>
                    Онлайн-комьюнити Колледжа насчитывает 
                    несколько тысяч подписчиков. Колледж представляют официальные паблики и студенческие сообщества, каналы по интересам. Официально 
                    Колледж активно присутствует в самых популярных и крупных соцсетях:
                </p>
            </div>
            <div class="comm_right">
                <img src="{% static 'img/comm.png'%}" alt="">
            </div>
        </div>
    </div>
</div>