{% load static %}
<div class="footer">
    <div class="container">
        <div class="footer__left">
            <img src="{% static 'img/logo.png'%}" alt="">
        </div>

        <div class="footer__right">
            <div class="footer__column">
                <h1>Колледж</h1>
                <ul>
                    <li>
                        <a>
                            Документы
                        </a>
                    </li>
                    <li>
                        <a>
                            Ресурсы
                        </a>
                    </li>
                    <li>
                        <a>
                            ТОЦ Samsung
                        </a>
                    </li>
                    <li>
                        <a>
                            Новости
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h1>Студенту</h1>
                <ul>
                    <li>
                        <a>
                            Расписание занятий
                        </a>
                    </li>
                    <li>
                        <a>
                            Библиотека
                        </a>
                    </li>
                    <li>
                        <a>
                            Дополнительное образование
                        </a>
                    </li>
                    <li>
                        <a>
                            Автошкола
                        </a>
                    </li>
                    <li>
                        <a>
                            Трудоустройство
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h1>Сотруднику</h1>
                <ul>
                    <li>
                        <a>
                           АИС Колледж
                        </a>
                    </li>
                    <li>
                        <a>
                            Wiki Колледж
                        </a>
                    </li>
                    <li>
                        <a>
                            Moodle Колледж
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h1>Подпишитесь</h1>
            </div>
        </div>
    </div>
</div>