$font-main: 'Golos Text', sans-serif;


$dark: #1D212F;
$gray: #959595;
$gray-bg: #F1F3F6;;
$gray-bg: #FCFCFC;
$gray-2: #A4A2A2;
$white: #FFFFFF;
$orange: #FD7401;
$orange-bg: #fff8f5;
$orange-element-bg: #FEDCCE;
$education-bg: #F6F7FA;
$circle: #EAEEF3;