{% extends './index.html' %}

{% block header %}
{% include './blocks/headers.html' %}
{% endblock header %}

{% block breefs %}
{% include './blocks/breefs.html' %}
{% endblock breefs %}

{% block education %}
{% include './blocks/education.html' %}
{% endblock education %}

{% block courses %}
{% include './blocks/courses.html' %}
{% endblock courses %}

{% block reviews %}
{% include './blocks/reviews.html' %}
{% endblock reviews %}

{% block comm %}
{% include './blocks/comm.html' %}
{% endblock comm %}

{% block footer %}
{% include './blocks/footer.html' %}
{% endblock footer %}





