{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Education Courses</title>
</head>
<body>
    {% block header %}{% endblock header %}
    {% block breefs %}{% endblock breefs %}
    {% block education %}{% endblock education %}
    {% block courses %}{% endblock courses %}
    {% block reviews %}{% endblock reviews %}
    {% block comm %}{% endblock comm %}
    {% block footer %}{% endblock footer %}
</body>
</html>